.settingsButton {
  color: rgb(163, 163, 163) !important;
  background-color: #fff !important;
  border-color: rgb(163, 163, 163) !important;
  border-radius: 25px;
}

.settingsButton:hover {
  color: rgb(216, 100, 172) !important;
  background-color: #fff !important;
  border-color: rgb(216, 100, 172) !important;
}
