.content {
  display: flex;
  flex-direction:column;
}

.scrollbar-thin::-webkit-scrollbar-track
{
	border: 1px solid black;
	background-color: #F5F5F5;
}

.scrollbar-thin::-webkit-scrollbar
{
	width: 5px;
	background-color: #F5F5F5;
}

.scrollbar-thin::-webkit-scrollbar-thumb
{
	background-color: #101d49;	
}

.react-grid-item.react-grid-placeholder {
  background: white !important;
  opacity: 0.1;
  transition-duration: 100ms;
  z-index: 2;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}